/* * {
  border: 1px black solid
} */

.homeImage {
  width: 100%;
}

.navBarContainer {
  padding: 0px;
  display: flex;
  align-content: center;
  justify-content: center;
}

.navLink {
  font-size: 0.75em;
  margin: 0.75em
}

.homeDiv {
  padding: 0px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

h2 {
  text-align: center;
}

p {
  text-align: center;
  padding: 0.75em;
}

.listItemPrivacy {
  list-style: none;
  margin: 1em 0em 1em 0em;
  width: 100%;
}

ul{
  margin: 0px;
  padding: 10px;
}

.innerUl {
  padding: 20px !important;
}

h5 {
  text-align: center
}
